@using IP3_Group4.Models;
@model Budget
@{
    ViewBag.Title = "Budget";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changemonth: true,
                changeyear: true
            });
        });
    </script>
}

<h2>Your Budget</h2>

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Budget", "Stats", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4>Set your monthly budget here.</h4>
        <hr />
        if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "Budget set successfully!")
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

        }

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.LastReset)
        @Html.HiddenFor(model => model.NextReset)

        <div class="form-group">
            @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ResetPeriod, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ResetPeriod, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastReset, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.LastReset, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Save Budget" />
            </div>
        </div>
    }

    <hr />

    if (Model != null && Model.Analytics != null)
    {
        <div class="flex-row">
            <div class="col-md dashboard-section">
                <h4>You have</h4>
                <h1>£@Model.Analytics.Remaining</h1>
                <h4>left to spend this period.</h4>
            </div>

            <div class="col-md dashboard-section">
                <h4>You will use</h4>
                @if (Model.Analytics.TargetPercentage < 95) {
                    <h1 style="color: forestgreen">@Model.Analytics.TargetPercentage%</h1>
                } else if (Model.Analytics.TargetPercentage < 105) {
                    <h1 style="color: gold">@Model.Analytics.TargetPercentage%</h1>
                } else {
                    <h1 style="color: red">@Model.Analytics.TargetPercentage%</h1>
                }
                <h4>of your budget by @Model.NextReset.ToString("dd/MM/yyyy").</h4>
            </div>

            <div class="col-md dashboard-section">
                <h4>You have</h4>
                <h1>@Model.Analytics.DaysLeft</h1>
                <h4>days left in this budget period.</h4>
            </div>
        </div>
    }
}
else
{
    <p>You must be logged in to view this page!</p>
}