@using IP3_Group4.Models;
@model Analytics
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@if (User.Identity.IsAuthenticated)
{
<p>All your ReceiptR information on one page.</p>
<hr />

<div class="row">
    <h2 style="text-align: center;">Spending Overview</h2>
    <div class="col-md-6 dashboard-section">
        <h4>This week, you spent:</h4>
        <h1>£@Model.WeekTotal</h1>
    </div>

    <div class="col-md-offset-6 dashboard-section">
        <h4>This month, you spent:</h4>
        <h1>£@Model.MonthTotal</h1>
    </div>
</div>

<hr />

<div class="row">
    <h2 style="text-align: center;">Your Budget</h2>
    <div class="col-md-6 dashboard-section">
        <h4>Left to Spend:</h4>
        @if (Model.RemainingBudget != -1)
        {
        <h1>£@Model.RemainingBudget</h1>
        <h4>left in your budget.</h4>
        }else
        {
        <h1>You haven't set up a budget yet. You can do that @Html.ActionLink("here.", "Budget")</h1>
        }
    </div>

    <div class="col-md-offset-6 dashboard-section">

        <h4>Days Left:</h4>
        @if (Model.RemainingBudget != -1)
        {
        <h1>@Model.DaysLeftInBudget</h1>
        }else
        {
        <h1>You haven't set up a budget yet. You can do that @Html.ActionLink("here.", "Budget")</h1>
        }
    </div>
</div>

<hr />

<div class="row">
    <h2 style="text-align: center;">Products and Shops</h2>
    <div class="col-md-6 dashboard-section">
        <h4>Your favourite shop:</h4>

        <h1>@Model.Shops[0].Shop</h1>
        @if (Model.Shops[0].Visits > 0)
        {
        <h4>with @Model.Shops[0].Visits visits.</h4>
        }

    </div>

    <div class="col-md-offset-6 dashboard-section">
        <!-- Section is link to Spending page -->

        <h4>Your most bought product is:</h4>
        <h1>@Model.Products[0].Product</h1>
        @if (Model.Products[0].Buys > 0)
            {
        <h4>with @Model.Products[0].Buys buys.</h4>
            }
    </div>
</div>


}
else
{
<div class="alert alert-danger">
    <p>You must be logged in to view this page.</p>
</div>
}
