<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ReceiptR</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/receiptr.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("ReceiptR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Stats")</li>
                        <li>@Html.ActionLink("Upload Receipt", "UploadReceipt", "Receipt")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center;">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <p>&copy; @DateTime.Now.Year - ReceiptR</p>
            </div>
            <div class="col-md-4">
                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@receiptr.com</a><br />
                </address>
            </div>
            <div class="col-md-2"></div>

            <br />

            <div class="col-md-12" style="text-align: center;">
                <address>
                    3 Project Way<br />
                    Glasgow, G2 3NW<br />
                    Scotland
                </address>
            </div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
