@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ReceiptR</h1>
    <p class="lead">ReceiptR is a new way to track your spending in supermarkets, cinemas and more. @if (!User.Identity.IsAuthenticated)
    {@Html.ActionLink("Sign up here!", "Register", "Account")}</p>
</div>

@if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <p>@ViewBag.Message</p>
                </div>
            }

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h2>How to use ReceiptR</h2>
        <p>
            Follow these simple steps to get started with ReceiptR today!

            <ol>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>Create an account @Html.ActionLink("here", "Register", "Account").</li>
                }
                <li>Go to Receipts > Upload.</li>
                <li>Upload a receipt!</li>
            </ol>

            You can view all the information from your scanned receipts @Html.ActionLink("here", "Overview", "Receipt"). For a quick overview, go to the @Html.ActionLink("dashboard", "Dashboard", "Stats"). Still not enough information? Head on over to the @Html.ActionLink("statistics page", "Stats", "Stats")!
        </p>
    </div>

    <div class="col-md-5">
        <h2>About ReceiptR</h2>
        <p>ReceiptR is your handy app for tracking your spending at supermarkets, cinemas, and so many more places! Use the instructions to the left to help you get started. Just scan a receipt, and we'll figure out the rest!</p>
        <p>By using Optical Character Recognition technology, we track the items you buy just by scanning your receipts. From there, we can help you to cut your spending!</p>
    </div>

    <div class="col-md-1"></div>
</div>
